@import 'colors.less';

html {
    box-sizing: border-box;
    height: 100%;
    font-size: 18px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    background: @black;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, 'sans serif';
    font-weight: 300;
    height: 100%;
    margin: 0;
}

h1 {
    font-weight: 300;
}

h2 {
    font-weight: 300;
}

a {
    color: @white;
}

strong {
    font-weight: 600;
}

p {
    margin: 1em 0;
}

p, dd, li {
    line-height: 150%;
}

em {
    font-style: italic;
}

.strikethrough {
    text-decoration: line-through;
}

#app {
    height: 100%;
}

.list--no-style {
    list-style: none;
    margin: 0;
    padding: 0;
}

.notice-box {
    width: 70%;
    margin: 0 auto;
    padding: 1em 3em;
    background: @orange;
    color: #fff;
    line-height: 1.5;
}