@import 'colors.less';
@import 'variables.less';

.button {
    border-radius: 0px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    color: @white;
    display: inline-block;
    font-family: @press-start-2p;
    font-size: .4rem;
    padding: 8px 22px;
    text-align: center;
    text-decoration: none;
    transition: background-color .3s ease-in-out,
                box-shadow .3s ease-in-out;
    white-space: nowrap;
    cursor: pointer;
    text-transform: uppercase;

    @media (min-width: @size-s) {
        font-size: 0.9rem;
    }

    &--transparent {
        background-color: transparent;
        border-radius: 4px;
        box-shadow: none;
        border: 2px solid @white;
        transition: .3s ease-in-out;

        &:hover {
            transition: .3s ease-in-out;
            color: @primary-text-color;
            border-color: @primary-text-color;
        }
    }

    /*
    &--green {
        border-color: @green;
        color: @green;
    }

    &--pink {
        border-color: @pink;
        color: @pink;
    }

    &--orange {
        border-color: @orange;
        color: @orange;
    }

    &--yellow {
        border-color: @yellow--dark;
        color: @yellow--dark;
    }

    &--red {
        border-color: @red--light;
        color: @red--light;
    }
    */

    &--disabled {
        border-color: @blue;
        color: @blue;
    }

    &__icon {
        margin-right: 10px;
        position: relative;
        top: 2px;
    }

    &--big {
        font-size: 1.3em;
        padding: 15px 25px;
    }
}
