@black: #010101;
@burgundy: #a10035;
@red--light: #ff4f4c;
@blue: #3abae9;
@pink: #b63d9d;
@orange: #f28e31;
@yellow: #fcaf17;
@green: #30a74d;
@white: #fafafa;
@green--dark: #286a65;
@green--light: #149089;
@grey: fade(@black, 50%);
@grey--light: lighten(@black, 50%);

// New design
@yellow--light: #fcb016;
@yellow--dark: #f5863c;
@red--light2: #e64d49;
@red--dark: #a31c36;

.blue {
	color: @blue;
}
.pink {
	color: @pink;
}
.orange {
	color: @orange;
}
.green {
	color: @green;
}