@import 'colors.less';

.footer {
    align-items: flex-end;
    color: @white;
    display: flex;
    flex-grow: 1;
    text-align: right;
    width: 100%;

    &__content {
        display: flex;
        flex-direction: column;
        margin-top: 120px;
        width: 100%;
    }

    &__text {
        margin-bottom: 30px;
        text-align: center;
    }

    &__social {
        list-style: none;
        margin: 0 0 20px;
        padding: 0;
    }

    &__social-item {
        display: inline-block;
        text-align: left;
    }

    &__twitter,
    &__facebook,
    &__contact {
        border-bottom: 1px solid transparent;
        font-size: 1.2rem;
        text-decoration: none;
        transition: color .4s ease-in-out;
        padding: 0 30px;

        &:hover {
            color: @yellow--light;
        }
    }

    &__grid {
        width: 100%;
    }
}
