@import 'colors.less';

.footer {
    align-items: center;
    color: @white;
    display: flex;
    padding: 40px 40px;
    text-align: right;
    width: 100%;

    &__social {
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: left;
        width: 50%;
    }

    &__social-item {
        display: inline-block;
        text-align: left;
        width: 14%;
    }

    &__twitter,
    &__facebook,
    &__contact {
        border-bottom: 1px solid transparent;
        font-size: 1.2rem;
        text-decoration: none;
        transition: border-bottom-color .4s ease-in-out;

        &:hover {
            border-bottom-color: @yellow--light;
        }
    }

    &__made-by {
        width: 50%;
    }
}