@import 'colors.less';
@import 'variables.less';

.navigation {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    align-items: center;
    display: flex;
    padding: 10px 20px;

    @media (min-width: @size-s) {
        padding: 20px 0;
    }

    &--toggled {
        @media (max-width: @size-s) {
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 3;
        }
    }

    &__logo-link {
        position: relative;
        top: 2px;
    }

    &__logo {
        height: 32px;
        margin-right: 30px;

        @media (min-width: @size-s) {
            height: 48px;
        }
    }

    &__toggle-container {
        flex-grow: 1;
        text-align: right;

        @media (min-width: @size-s) {
            display: none;
        }
    }

    &__toggle {
        background: transparent;
        border: 0;
        cursor: pointer;
        height: 28px;
        outline: 0;
        padding: 0;
    }

    &__toggle-icon {
        background: @white;
        height: 2px;
        opacity: 1;
        transition: background .4s ease-in-out;
        width: 20px;

        &:before,
        &:after {
            background: @white;
            content: '';
            display: block;
            height: 2px;
            position: relative;
            transition: transform .4s ease-in-out;
            width: 20px;
        }

        &:before { top: -5px; }
        &:after { top: 3px; }

        /*&--toggled {
            background: @white;

            &:before {
                transform: rotateZ(45deg) translateY(10px);
            }

            &:after {
                transform: rotateZ(-45deg);
            }
        }*/
    }

    &__items {
        background: url('/assets/bg_pattern.jpg') repeat;
        bottom: 0;
        left: 0;
        margin: 0;
        opacity: 0;
        padding: 2em 0 0 0;
        position: fixed;
        right: 0;
        transition: opacity .4s ease-in-out;
        top: 56px;
        z-index: 2;

        &--toggled {
            opacity: 1;
        }

        &--invisible {
            display: none;

            @media (min-width: @size-s) {
                display: block;
            }
        }

        @media (min-width: @size-s) {
            background: transparent;
            flex-grow: 1;
            list-style: none;
            opacity: 1;
            padding: 0;
            position: static;
            text-align: right;
        }
    }

    &__item {
        margin-bottom: 20px;
        text-align: center;

        @media (min-width: @size-s) {
            display: inline-block;
            margin-bottom: 0;

            &:not(:last-child) {
                margin: 0 11px 0 0;
            }

        }

        @media (min-width: @size-m) {
            &:not(:last-child) {
                margin: 0 20px 0 0;
            }
        }
    }

    &__link {
        border-bottom: 1px solid transparent;
        color: @white;
        font-size: 1.3rem;
        outline: 0;
        position: relative;
        text-decoration: none;
        text-transform: uppercase;
        transition: border-bottom-color .4s ease-in-out;

        &--active,
        &:focus,
        &:hover {
            border-bottom-color: @yellow--light;
        }

        @media (min-width: @size-s) {
            font-size: .9rem;
        }

        @media (min-width: @size-m) {
            font-size: 1.1rem;
        }
    }
}