.navigation {
    padding: 20px;
    text-align: center;

    &__logo {
        width: 64px;
    }

    &__list {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &__item {
        color: white;
        text-decoration: none;

        &--active {
        }
    }
}