.javazone {
    display: flex;
    flex-direction: row;
    height: 100%;

    &__navigation {
        background: #4e545a;
        height: 100%;
    }

    &__page {
        height: 100%;
        width: 100%;
    }
}
