@import 'variables.less';

.textblock {
    display: flex;
    padding: 40px;

    &--image {
        justify-content: center;

        @media (min-width: @size-s) {
            display: flex;
        }

        &__text {
            background-color: darken(@white, 5%);
            padding: 0 40px 40px 40px;
            text-align: justify;

            @media (min-width: @size-s) {
                width: 50%;
            }
        }

        &__image {
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            height: 200px;

            @media (min-width: @size-s) {
                height: auto;
                width: 50%;
            }
        }
    }

    &--centered {
        display: flex;
        justify-content: center;
        padding: 40px;

        &__text {
            text-align: center;
            max-width: 600px;
        }
    }

    &__title {
        margin-top: 0;
        padding-top: 1.7rem;
    }
}