.textblock {
    display: flex;
    justify-content: center;
    padding: 40px;

    &--image {
        display: flex;
        justify-content: center;

        &__text {
            padding: 0 40px 40px 40px;
            text-align: justify;
            width: 50%;
        }

        &__image {
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            width: 50%;
        }
    }

    &__text {
        text-align: center;
        max-width: 600px;
    }

    &__title {
        margin-top: 0;
    }
}