// Colors
//@page-bg-color: #3B2960;
@page-bg-color: #f18732;
@page-secondary-bg-color: #30214E;
@section-pixel-bg-color: #FFDA46;
@secondary-text-color: #3a3a3a;

// Above can be deleted, need to clean shit up
@primary-color: orange;
@secondary-color: #1c1c34;

@size-xs: 0px;
@size-s: 768px;
@size-m: 1024px;
@size-l: 1200px;
@size-xl: 1400px;

@source-sans-pro: 'Source Sans Pro';
@upheaval: 'Upheaval';