
@font-face {
  font-family: 'TRN';
  src: url('TRN.eot?#iefix') format('embedded-opentype'),  url('TRN.woff') format('woff'), url('TRN.ttf')  format('truetype'), url('TRN.svg#TRN') format('svg');
  font-weight: normal;
  font-style: normal;
}
