@size-xs: 0px;
@size-s: 768px;
@size-m: 1024px;
@size-l: 1200px;
@size-xl: 1400px;

@source-sans-pro: 'Source Sans Pro, Helvetica Neue, Helvetica, Arial', sans-serif;
@source-sans-pro: 'eurostile', 'Open Sans', sans-serif;
