@import '../../styles/Variables';

.block {
    font-family: @source-sans-pro;
}

.block-header {
    font-size: 1.8rem;
    font-weight: bold;
    color: @section-pixel-bg-color;
    text-transform: uppercase;
}

.block-text {
    font-size: 1.1rem;
    text-align: left;
    
    p:first-child {
        margin-top: 0.2rem;;
    }
}

.image-block {
    width: 100%;
    margin: 4rem 0 4rem 0;

    img {
        max-width: 100%;
    }

}
