@import '../../styles/variables';

@keyframes fadein {
    from { opacity: 0 }
    to { opacity: 1 }
}

@keyframes blink {
    to {
        visibility: visible;
    }
}

.index {
    display: flex;
    flex-direction: column;
    min-height: 100%;

    .page__logo-container {
        animation: fadein 1s;
        animation-delay: 1s;
        animation-fill-mode: both;
    }

    .menu__toggle {
        animation: fadein 1s;
        animation-delay: 1s;
        animation-fill-mode: both;
    }

    .footer {
        animation: fadein 1s;
        animation-delay: 1s;
        animation-fill-mode: both;
    }

    &__text {
        animation: fadein 1s;
        animation-delay: 1s;
        animation-fill-mode: both;
        font-family: @source-sans-pro;
        font-size: 2rem;
        font-weight: bold;
        line-height: 120%;
        margin: 15px 0 15px 0;
        text-align: center;

        @media (min-width: @size-s) {
            font-size: 3.5rem;
            margin: 100px 0 20px 0;
        }

        @media (min-width: @size-m) {
            font-size: 6rem;
            margin: 40px 0 20px 0;
        }
    }

    &__info {
        animation: fadein 1s;
        animation-delay: 1s;
        animation-fill-mode: both;
        font-family: @source-sans-pro;
        font-size: 1.5rem;
        font-weight: 500;
        margin: 25px 0 55px 0;
        text-align: center;

        @media (min-width: @size-s) {
            font-size: 2rem;
            margin: 55px 0 55px 0;
        }

        @media (min-width: @size-m) {
            font-size: 2.5rem;
            margin: 75px 0 75px 0;
        }
    }

    &__links {
        animation: fadein 1s;
        animation-delay: 1s;
        animation-fill-mode: both;
        font-family: @source-sans-pro;
        flex-wrap: wrap;
        justify-content: center;
        list-style: none;
        padding: 0;

        @media (min-width: @size-s) {
            display: flex;
            text-align: center;
            width: auto;
        }
    }

    &__links-item {
        text-align: center;
        margin: 10px 30px;

        @media (min-width: @size-s) {
            margin: 10px 30px;
        }
    }

    &__link {
        font-size: 1.0rem;
        position: relative;
        text-transform: uppercase;
        text-decoration: none;

        @media (min-width: @size-s) {
            font-size: 1.2rem;
        }
    }
}
