@import '../variables';

.block {
    margin: 5em auto 0 auto;

    @media (min-width: @size-s) {
        display: flex;
    }

    &--center {
        display: block;
        max-width: 700px;
    }

    &__header {
        font-size: 1.8em;
        margin: 0;

        @media (min-width: @size-s) {
            padding-right: 40px;
            text-align: right;
            width: 40%;
        }

        &--center {
            padding: 0;
            width: 100%;

            @media (min-width: @size-s) {
                text-align: center;
            }
        }
    }

    &__content {
        @media (min-width: @size-s) {
            width: 60%;
        }

        &--center {
            @media (min-width: @size-s) {
                text-align: center;
            }
            width: 100%;
        }

        > *:first-child {
            margin-top: .8rem;
        }
    }

    &__sub-header {
        font-size: 1.3rem;
        font-weight: 300;

        &:first-child {
            margin-top: -.2em;
        }
    }
}