.block {
    &__header {
        float: left;
        font-size: 2em;
        padding-right: 40px;
        text-align: right;
        width: 40%;
    }

    &__content {
        float: left;
        width: 60%;

        > *:first-child {
            margin-top: 2.6em;
        }
    }
}