@import '../colors';

.session {
    margin-bottom: 10px;
    position: relative;

    &__icon {
        position: absolute;
        top: 5px;
    }

    &__title {
        border-bottom: 1px solid @grey;
        display: inline-block;
        font-size: 1.2rem;
        margin-left: 20px;
    }

    &__speakers {
        margin-left: 20px;
    }
}