@import '../colors';

.session {
    margin-bottom: 20px;
    position: relative;

    &__lang {
        font-weight: 400;
        position: absolute;
        text-transform: uppercase;
        top: 3px;
    }

    &__icon {
        display: none;
        position: absolute;
        top: 5px;
    }

    &__title {
        color: @black;
        display: inline-block;
        font-size: 1.3rem;
        margin-left: 40px;
        text-decoration: none;
    }

    &__speakers {
        color: @grey;
        margin-left: 40px;
    }
}