@import '../variables';

@padding: 30px;

.academy {
    &__locations {
        list-style: none;
        padding: 0;

        @media (min-width: @size-s) {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    &__location {
        margin: 20px;
        text-align: center;

        @media (min-width: @size-s) {
            flex: 0 0 50%;
            margin: 0 0 40px 0;
        }

        @media (min-width: @size-m) {
            flex: 0 0 100/3%;
            margin: 0;
        }
    }

    &__speaker-list {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            margin: 10px;
        }
    }
}
