@import '../variables';

@keyframes fadein {
    from { opacity: 0 }
    to { opacity: 1 }
}

.index {
    display: flex;
    flex-direction: column;
    height: 100%;

    &__header {
        animation: fadein 2s;
        animation-delay: 1s;
        animation-fill-mode: both;
        font-family: monospace;
        font-size: 9rem;
        margin-bottom: 50px;
        margin-top: -100px;
        position: relative;
        text-shadow: 0 0 10px rgba(0, 0, 0, .5);
    }

    &__super {
        font-size: 5rem;
        position: absolute;
        right: -50px;
        top: -20px;
    }

    &__content {
        align-items: center;
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-grow: 1;
    }

    &__logo {
        margin-top: 40px;
        margin-left: 40px;
        width: 200px;
    }

    &__text {
        animation: fadein 2s;
        animation-delay: 1s;
        animation-fill-mode: both;
        font-family: monospace;
        font-size: 2rem;
        text-align: center;
        text-shadow: 0 0 10px rgba(0, 0, 0, .5);
        text-transform: uppercase;
    }
}
