.index {
    &__logo {
        margin: 5em auto 0;
        perspective: 1600px;
        position: relative;
        text-align: center;
        width: 500px;
    }

    &__logo-wireframe {
        opacity: .5;
        transform-style: preserve-3d;
        transform-origin: center center; 
        backface-visibility: visible;
        transform: rotateX( 0deg );
        transition: transform 50ms ease;
        width: 400px;
    }

    &__logo-title {
        font-size: 3em;
        font-weight: 600;
        left: 50%;
        margin-left: -48%;
        position: absolute;
        text-shadow: 0 0 2px rgba(0, 0, 0, .5),
                     0 0 5px rgba(0, 0, 0, .5),
                     0 0 24px rgba(0, 0, 0, .5);
        text-transform: uppercase;
        top: 45%;
        white-space: nowrap;
    }
}
