@import '../colors';

.info {
    &__intro {
        max-width: 700px;
    }

    &__speaker-info {
        background: @burgundy;
        margin: 5em auto 0 auto;
        max-width: 470px;
        padding: 20px 40px;
    }

    &__included {
        background: fade(@burgundy, 50%);
        margin-top: 2.5em;
        padding: .5em 0;
    }

    &__map {
        height: 400px;
        width: 100%;
    }
}