.kids {
    &__event-title {
        margin-bottom: 10px;
    }

    &__age {
        display: inline-block;
        font-size: 1.3rem;
        margin-bottom: 10px;
    }

    &__greeting {
        margin-top: 40px;
    }
}