@import '../variables';
@import '../colors';

.partners {
    &__image-one {
        margin: 4rem 0;
        max-width: 100%;
    }

    &__price-container {
        margin-bottom: 10em;
    }

    &__mainprice {
        font-size: 3rem;
        margin: 3rem
    }

    &__latebirdprice {
        font-size: 0.8rem;
    }

    &__prices {
        @media (min-width: @size-s) {
            display: flex;
        }
    }

    &__stand-prices {
        width: 50%;
        padding-right: 2rem;

        @media (min-width: @size-l) {
            padding-right: 4rem;
        }
    }

    &__ticket-prices {
        width: 50%;

        @media (min-width: @size-s) {
            border-left: 3px solid @white;
            padding-left: 2rem;
        }

        @media (min-width: @size-l) {
            padding-left: 4rem;
        }
    }
}
