.partners {
    &__intro {
        margin-bottom: 2rem;
    }

    &__logos {
        list-style: none;
        margin: 40px 0 80px 0;
        padding: 0;
        text-align: center;
    }

    &__logo {
        display: inline-block;
    }

    &__logo-image {
        width: 101px;
        opacity: 0.6;
    }

    &__included {
        padding-left: 20px;
    }

    &__included-item {
        margin-bottom: 5px;
    }

    &__expansion-title {
        font-weight: 400;
        margin-top: 20px;
    }

    &__expansion-description {
        margin-left: 0;
    }

    &__prospect {
        margin: 40px 0;
    }
}
