@import '../colors';

.partners {
    &__image-one {
        margin: 4rem 0;
        max-width: 100%;
    }

    &__price-container {
        margin-bottom: 10em;
    }

    &__prices {
        display: flex;
    }

    &__stand-prices {
        padding-right: 4rem;
        width: 50%;
    }

    &__ticket-prices {
        border-left: 3px solid @white;
        padding-left: 4rem;
        width: 50%;
    }
}
