@import '../colors';

.speakers {
    &__inspiration {
        margin: 0;

        &-title {
            font-weight: 600;
            margin-bottom: 5px;

            &:not(:first-child) {
                margin-top: 20px;
            }
        }

        &-description {
            margin: 0;
            line-height: 140%;
        }
    }

    &__formats {
        color: @burgundy;
        font-size: 2rem;
    }

    &__accepted {
        &-title {
            font-weight: 600;
            margin-bottom: 5px;

            &:not(:first-child) {
                margin-top: 20px;
            }
        }

        &-description {
            margin-left: 0;
            text-align: justify;
        }
    }

    &__principles {
        padding-left: 20px;
    }

    &__regards {
        color: @green--dark;
        font-size: 1.2rem;
    }
}