.speakers {
    &__inspiration {
        margin: 0;

        &-title {
            font-weight: 600;
            margin-bottom: 5px;

            &:not(:first-child) {
                margin-top: 20px;
            }
        }

        &-description {
            margin: 0;
            line-height: 140%;
        }
    }
}