.promo {
    width: 100%;
    height: 100%;
}

.promo-logo {
    img {
        top: 20vh;
        left: 40vw;
        position: absolute;
        z-index: 10;
        width: 400px;
    }
    h1 {
        top: 25vh;
        position: absolute;
        left: 40vw;
        z-index: 10;
    }
}

.shadow {
    filter: drop-shadow(0 1px 15px black);
}

.parallax {
    height: 100vh;
    perspective: 1px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.parallax::-webkit-scrollbar {
    width: 0;
}

.layer {
    height: 25vh;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    &.one {
        background: rgb(255, 166, 0);
        -webkit-transform: translateZ(0);
        transform: translateZ(0) scale(2);
    }

    &.two {
        background: rgb(255, 115, 0);
        transform: translateZ(-1px) scale(4);
    }

    &.three {
        background: rgb(255, 72, 0);
        transform: translateZ(-1px) scale(8);
    }

    &.four {
        background: rgb(255, 0, 0);
        transform: translateZ(-1px) scale(16);
    }
}