@import 'Variables.scss';
@import url('https://fonts.googleapis.com/css?family=Bungee');

body {
    background: $primary-color;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.test {
    height: 2000px;
}