$fontPath: '../Fonts/upheaval/';

@font-face {
    font-family: 'Upheaval';
    font-family: normal;
    font-weight: normal;
    src: local('Upheaval'),
         url($fontPath + 'upheavtt.eot'),
         url($fontPath + 'upheavtt.eot?#iefix') format('embedded-opentype'),
         url($fontPath + 'upheavtt.woff2') format('woff2'),
         url($fontPath + 'upheavtt.woff') format('woff'),
         url($fontPath + 'upheavtt.ttf') format('truetype'),
         url($fontPath + 'upheavtt.svg#Upheaval') format('svg'),
}