@font-face {
    font-family: 'Upheaval';
    font-family: normal;
    font-weight: normal;
    src: url('./upheavtt.eot'),
         url('./upheavtt.eot?#iefix') format('embedded-opentype'),
         url('./upheavtt.woff2') format('woff2'),
         url('./upheavtt.woff') format('woff'),
         url('./upheavtt.ttf') format('truetype'),
         url('./upheavtt.svg#Upheaval') format('svg'),
}