// Colors
$primary-color: #0d0f14;

// Fonts
$upheaval: 'Upheaval';

// Screen resolutions
$screen-mobile: "max-width: 500px"; // Mobile
$screen-tablet: "max-width: 1100px"; // tablet
$screen-l: "max-width: 425px"; // Mobile large
$screen-t: "max-width: 768px"; // Tablet
