@import '../../styles/Variables.less';

.button {
    background: transparent;
    border: 3px solid white;
    border-radius: 4px;
    outline: none;
    padding: 0.4rem 0.8rem 0.4rem 0.8rem;
    font-family: @source-sans-pro;
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
}
