
@font-face {
  font-family: 'EurostileRegular';
  src: url('EurostileRegular.eot?#iefix') format('embedded-opentype'),  url('EurostileRegular.woff') format('woff'), url('EurostileRegular.ttf')  format('truetype'), url('EurostileRegular.svg#EurostileRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
