.logo {
    overflow-y: hidden;
    width: 4rem;
    position: relative;
    top: -300px;
    margin: 1rem 1rem 1rem 0;
    transition-property: "slide-in";
    transition-duration: 0.4s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.slide-in {
    top: 0;
}