
.logo {
    position: relative;
    top: -300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 2rem 1rem 0;
    transition-property: "slide-in";
    transition-duration: 0.4s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    img {
        height: auto;
        width: 4rem;
        margin-right: 1rem;
    }

    h1 {
        font-weight: bold;
        font-family: 'Upheaval'
    }
}

.slide-in {
    top: 0;
}