@import '../../styles/Variables';

.pixel-border-top {
    height: @pixel-border-size; 
    width: 100%;
    background: url('../../assets/2018/pixelborder.svg') bottom left repeat-x;
    background-size: @pixel-border-size;
}

.pixel-border-bottom {
    transform: rotate(180deg);
    width: 100%; 
    height: @pixel-border-size; 
    background: url('../../assets/2018/pixelborder.svg') bottom left repeat-x;
    background-size: @pixel-border-size;
}

.section {
    margin: @section-margin;
    padding: 1.5rem 0 1.5rem 0;
}

.section-alternate {
    padding: 1rem 0 1rem 0;
    background: @primary-color;
    color: @secondary-color;
}

.section-dark {
    background: rgba(0, 0, 0, 0.25);
}

.section-container {
    width: 100%;
}