@import '../../styles/Variables.less';

.pixel {
    background: @section-pixel-bg-color;

    h1 {
        margin: 0;
    }
}

.secondary-bg {
    background: @page-secondary-bg-color;
}

.pixel-border-top {
    transform: rotate(180deg);
    height: 25px;
    background: linear-gradient(@section-pixel-bg-color, transparent 50%),
                linear-gradient(-45deg, @page-bg-color 33%, transparent 33%) 0 50%, 
                @page-bg-color linear-gradient(45deg, @page-bg-color 33%, @section-pixel-bg-color 33%) 0 50%;
    background-repeat: repeat-x;
    background-size: 100%, 25px 25px, 25px 25px;
    min-height: 100%;
}

.pixel-border-bottom {
    height: 25px;
    background: linear-gradient(@section-pixel-bg-color, transparent 50%),
                linear-gradient(-45deg, @page-bg-color 33%, transparent 33%) 0 50%, 
                @page-bg-color linear-gradient(45deg, @page-bg-color 33%, @section-pixel-bg-color 33%) 0 50%;
    background-repeat: repeat-x;
    background-size: 100%, 25px 25px, 25px 25px;
    min-height: 100%;
}